body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: lightgrey;
}

h1 {
  padding: 50px;
  text-align: center;
  color: #878787;
}

h2 {
  text-align: center;
  color: white;
}

.menu a {
  color: white;
  background-color: lightgray;
}



.menu {
  list-style: none;
}

.menu li{
  text-decoration: none;
  position: relative;
  float: left;
}

.menu li a{
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover{
  background-color: darkgray;
  color: white;
  box-shadow: 0 3px 10px 0 black;
  webkit-box-shadow: 0px 0px 5px #fff;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
  position: absolute;
  top: 25px;
  left: 0;
  display: none;
}